@tailwind base;
@tailwind components;
@tailwind utilities;

/* shepherd.css overrides  */

.shepherd-button {
  background-color: #009688 !important; /* Replace with your color code */
  color: #ffffff !important; /* Replace with your text color code */
  border-radius: 0.375rem !important; /* Rounded-md equivalent */
}

.shepherd-title {
  justify-content: center !important; /* justify-center equivalent */
  font-weight: bold !important;
}

.shepherd-footer .shepherd-button:last-child {
  margin-right: auto !important; /* justify-center equivalent */
}
